
Traceability Matrix Results: docs/traceability.csv

Requirements:        20
Verified:            13  (65%)
Must requirements:   16
Verified Musts:      10  (62%)