
Traceability Matrix Results: docs/traceability.csv

Requirements:        20
Verified:            11  (55%)
Must requirements:   16
Verified Musts:      8  (50%)
